* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body { 
	background-color: #1b1c1d;
	background-size: 100%;
}
:root {
	--maninColor: #ffbe00;
	--headingColor: #263a4f;
	--bodyColor: #1b1c1d;
}

.hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
}
.main-hero {
	position: relative;
	height: 600px;
	object-fit: cover;
	background-size: cover;
	z-index: 0;
}
.main-hero-text {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 3.6rem;
	text-transform: uppercase;
}

// NAWIGACJA
nav {
	font-size: 1.6rem;
	color: var(--bodyColor);
	i {
		color: var(--maninColor);
	}

	.logo {
		position: relative;
		height: 42px;
		width: 160px;
	}
	

	.nav-link {
		font-weight: 500;
	}
	.navbar-brand {
		font-size: 2.6rem;
	}
	
	
	.navbar-toggler {
		font-size: 2.5rem;
		padding: 0rem 1.8rem;
	}
}

// Sekscja głowna karuzela


.hero-img {
	position: relative;
	background-position: center;
	background-size: cover;
	height: 800px;
	width: 100%;
	overflow: hidden;
	z-index: 1;

	.hero-text {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 10;
		overflow: hidden;
		color: #fff;

		h1 {
			font-size: 3.6rem;
			padding: .3em;
			margin-bottom: .5em;
			text-transform: uppercase;
			border-bottom: 2px solid var(--maninColor);
		}
		p {
			font-size: 3rem;
		}
	}

}

.hero-img-one {
	background-image: url('./img/HeroIMG/bathroom-g7da78a21b_1920.jpg')
}
.hero-img-two {
	background-image: url('./img/HeroIMG/bedroom-gce56ceb2f_1920.jpg')
}
.hero-img-three {
	background-image: url('./img/HeroIMG/kuchnia3.jpg')}
.carousel-main-button {
		margin-top: 2rem;
		font-size: 2rem;
		background-color: var(--maninColor);
		border-radius: 5px;
		padding: 1rem 5rem;
		transition: 0.3s;
	  }
	  
.carousel-main-button a {
		text-decoration: none;
		color: var(--headingColor);
		text-transform: uppercase;
		font-weight: bold;
	  }

.carousel-main-button:hover {
	background-color: #fff;
	color: var(--headingColor);
}

// SEKCJA DOŚWIADCZENIE

.icon-sklis {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	padding-top: 2rem;
	transition: transform 0.3s;
	i {
		margin-bottom: 1rem;
		font-size: 4rem;
		color: var(--maninColor);
	}
	p {
		font-size: 2rem;
		text-transform: uppercase;
		font-weight: bold;
		color: var(--headingColor);
	}
}
.icon-sklis:hover {
	transform: scale(1.2);
}

// SEKCJA GŁÓWNA CZESC 2

.second-part-main-text {
	text-transform: uppercase;
	h2 {
		padding: 1rem 0rem;
		font-size: 3rem;
		border-bottom: 1px solid var(--maninColor);
	}
	p {
		font-size: 2rem;
	}
}

.second-part-card {
	width: 100%;

	img {
		height: 250px;

		object-fit: cover;
		opacity: 0.9;
	}
}
.second-part-body {
	background-color: var(--bodyColor);
}
.card-title {
	font-size: 3rem;
	text-transform: uppercase;
}
.card-text {
	font-size: 1.5rem;
	color: rgb(173, 172, 172);
}
.btn {
	font-size: 1.4rem;
	padding: 0.5rem 2rem;
	background-color: var(--maninColor);
	text-transform: uppercase;
	font-weight: bold;
	transition: .5s;
}
.btn:hover {
	background-color: var(--bodyColor);
	color: #fff;
}

.theerd-part-title {
	border-bottom: 1px solid var(--maninColor);
	i {
		font-size: 4rem;
		color: var(--maninColor); 
	}
	h3 {
		padding: 0.5em 0em;
		font-size: 3rem;
		text-transform: uppercase;
		margin: 0rem 2rem;
	}
}
.theerd-part {
	p {
		margin-top: 2rem;
		font-size: 2rem;
		font-weight: bold;
	}
}
// USŁUGI
.services-box {
	overflow: hidden;
}

.part-services {
	background-color: var(--bodyColor);
}

.services-box-body {
	transition: transform 0.5s;
	h3 {
		font-size: 2.2rem;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 1.5rem;
		color: white;
	}
	p {
		font-size: 1.6rem;
		color: rgb(173, 172, 172);
	}
	img {
		height: 300px;
		object-fit: cover;
		opacity: 0.6;
	}
}
.services-box-body:hover {
	transform: scale(1.1);
	background-color: #fff;
	p,
	h3 {
		color: var(--headingColor);
	}
}

.four-part-title {
	i {
		margin-right: 1rem;
		font-size: 8rem;
	}
}
.four-part-p {
	h4,
	p {
		margin-left: 4rem;
		font-size: 3rem;
		text-transform: uppercase;
	}
	h4 {
		font-weight: bold;
	}
}

// FOOTER

.footer {
	font-size: 2rem;
	font-weight: bold;
	background-color: var(--bodyColor);
	.fa-solid {
		color: var(--maninColor);
	}
	.footer-contact {
		span {
			letter-spacing: 2px;
		}
		i {
			font-size: 3rem;
			margin-bottom: 2rem;
		}
		p {
			font-size: 1.5rem;
			color: rgb(173, 172, 172);
		}
	}

	.list-group {
		hr {
			color: #ffbe00;
			width: 50%;
			margin-top: 0;
		}
	}
	.list-group-item {
		font-size: 1.6rem;
		margin-bottom: 0.5rem;
		background-color: transparent;
		color: rgb(173, 172, 172);
		border: none;
		transition: color 0.3s;
	}
	.list-group-item:hover {
		color: var(--maninColor);
	}
	.list-group-item-contact {
		font-size: 1.8rem;
		color: rgb(173, 172, 172);
		i {
			margin-right: 2rem;
			color: var(--maninColor);
			font-size: 2.2rem;
		}
	}
	.footer-botto {
		border-top: 1px solid var(--maninColor);
	}
}

// STRONA ABOUTUS

.about-hero {
	background-image: url('../img/AboutUS/bulldozer-410119_1920.jpg');

	background-position: center;
	background-size: cover;
	object-fit: cover;
	z-index: 0;
}
.about-us-heading {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 0;
	margin-top: -20px;
}
.about-us-body {
	padding: 0rem 20rem;
	font-size: 3rem;
	z-index: 1;
	background-color: var(--maninColor);
	font-weight: bold;
	text-transform: uppercase;
}
.about-us-main {
	display: flex;
	flex-direction: row;

	.about-us-left {
		h3,
		p,
		.btn {
			margin: 2rem;
			font-size: 2rem;
		}
		h3 {
			text-align: start;

			font-size: 5rem;
			i {
				color: var(--maninColor);
			}
		}
		
	}
	.about-us-right {
		background-image: url('/img/AboutUS/man.jpg');
		background-size: cover;
		background-position: center;
		min-height: 300px;
		
	}
}



// STRONA GALERY



	

	

		
			

			

	
	
			
		


@media (max-width: 992px) {
	.hero-img {
		width: 100%;
		.hero-text {
			h1 {
				font-size: 3rem;
			}
			p {
				font-size: 2.4rem;
			}
		}
	
	}
	.carousel-main-button {
		font-size: 2rem;
	}

	.theerd-part-title {
		i {
			font-size: 2rem;
		}
		h3 {
			font-size: 1.8rem;
		}
	}
	.theerd-part {
		p {
			font-size: 1.4rem;
		}
	}

	.four-part-p {
		h4,
		p {
			margin: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
		h4 {
			font-size: 2rem;
		}
		p {
			font-size: 1.4rem;
		}
	}

	.about-us-main {
		flex-direction: column;
	}
}
@media (max-width: 540px) {
	nav {
		.nav-link {
			font-size: 1.8rem;
		}
		.nav-link-phone {
			i {
				font-size: 1.8rem;
			}
		}
	}
	.navbar-brand {
		i {
			font-size: 2.4rem;
			margin-right: 1rem;
		}
span {
	display: none;
}
		font-size: 1.8rem;
	}

	.hero-img{
		height: 120vh;
		width: 100%;

		.hero-text {
			text-align: center;
			h1 {
				padding: 1rem 2rem;
	
				font-size: 3rem;
			}
			p {
				font-size: 2.4rem;
			}
		}
	}
	

	.carousel-main-button {
		font-size: 1rem;
		padding: 1rem 4rem;
	}

	.icon-sklis {
		padding-top: 2rem;
		i {
			border-bottom: 1px solid var(--maninColor);
			margin-bottom: 0.5rem;
			padding: 1rem 3rem;
			font-size: 2.5rem;
		}
		p {
			font-size: 1.4rem;
		}
	}

	.footer {
		font-size: 1.2rem;

		background-color: var(--bodyColor);

		.footer-contact {
			text-align: center;
			span,
			i {
				font-size: 2rem;
			}

			p {
				font-size: 1.2rem;
			}
		}
		.list-group {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-size: 1.5rem;
		}
		.list-group-item {
			font-size: 1.1rem;
		}
		.list-group-item-contact {
			font-size: 1.2rem;

			i {
				margin-right: 1rem;

				font-size: 1.4rem;
			}
		}
	}
}